body {
    height: 101%;
    width:100%;
}

div.wrapper {
    width:1280px;
    height:985px;
    margin-left: auto;
    margin-right: auto;
}

div#cicero {
}

div#scroll {
    width: 1280px;
    text-align: center;
    position: fixed;
    bottom: -60px;
    color: rgba(255,255,255,.8);
    font-size: 3em;
    font-weight: bold;
}

div#potluck {
    top: 0px;
    width: 1280px;
    position: fixed;
    font-size: 1.25em;
}

div.column {
    float: left;
    padding: 0;
    margin: 0;
}

div.half {
    width: 50%;
}

div.two-thirds {
    width: 66%;
}

div.one-third {
    width: 33%;
}

div.pane {
    padding: 10px;
    margin: 0;
    float: left;
}

div.contact {
    display: none;
    position: absolute;
}

/**
 * Confirmation section
 */
div.response {
    height: 7em;
}
div.confirm {
    height: 3em;
    margin-bottom: 2em;
}

div.confirm > div {
    float: left;
}

div.confirm a.selected {
    font-weight: bold;
}

div.response div.maybe {
    padding-top: 1em;
}

div.response div.no {
    padding-top: 2em;
}

div.response div.food.hidden {
    display: none;
}

div.response form#food_form textarea,
div.response form#food_form button {
    vertical-align:middle;
}


/**
 * Attendance tab
 */
div.tabs {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}

div.tabs li {
    list-style:none;
    float: left;
    padding: 5px 7px;
    margin: 0px 0px;
    cursor: pointer;
    border-right: solid grey 1px;
}

div.tabs li:last-child {
    border-right: none;
}

div.responses {
    margin-top: 50px;
    float: left;
    min-height: 50px;
    border: grey solid 1px;
    border-radius: 10px;
    padding: 20px;
}

div.responses ul {
    margin: 0;
    padding: 0;
}


div.tabs li.selected {
    font-weight: bold;
    cursor: default;
}

div.attendance > div {
    display: none;
}

div.attendance > div.selected {
    display: block;
}

div.attendance li {
    list-style: none;
}

div.attendance .food {
    display: none;
}